section h1 {
    font-size: 22px;
    line-height: 24px;
    padding-top: 30px;
}

h3 {
    font-size: 14px;
}


p {
    font-size: 15px;
    color: rgb(10, 136, 0);
}

.pie {
    color: rgb(104, 106, 107);
}

.espacio {
    margin-bottom: 40px;
}


.tarjeta {
    padding: 0 200px 12px 200px;
    color: rgb(10, 136, 0);
}

.rive {
    box-shadow: -1px -1px 15px -10px rgb(10, 136, 0);
}

.go {
    font-size: 18px;
    font-weight: 600;
}

.made {
    margin-left: 90px;
}

input {
    width: 350px;
    padding: 12px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    width: 350px;
    border-radius: 999px;
    margin-top: 15px;
    padding: 14px 0;
    background-color: white;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.02);
    border: 2px solid black;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.3);
}

.container {

    margin-top: 15px;
    border-radius: 10px;
    padding: 20px;
}

.azul {
    background-color: #fb7701;
    color: white;
}

.crecer {
    text-decoration: none;
}