.nuevalinea {
    display: flex;
    justify-content: center;
    background-color: rgb(143, 23, 45);
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
}


.novedadescolor h2 {
    background-color: rgb(143, 23, 45);


}

.novedadescolor h2 {
    font-size: 18px;
    text-align: center;
    color: white;


}

.novedadescolor i {
    margin-right: 15px;
}

.novedadescolor .precios {
    display: flex;
}

.novedadescolor .descuento {

    margin-left: 10px;
    border: 2px solid rgb(143, 23, 45);
    color: rgb(231, 52, 85);
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
}

.novedadescolor h3 {

    color: rgb(231, 52, 85);
}

.novedadescolor p {
    margin-left: 20px;
}


.novedadescolor img {
    width: 305px;
}